<div class="header-container">
  <div class="user-nav card">
    <p-menubar *ngIf="!authService.isLoggedIn()" [model]="itemsGuest"
                 buttonClassName="p-button-outlined border-transparent">
      <ng-template pTemplate="start">
        <a routerLink="home"><h2>Travelnest</h2></a>
      </ng-template>
    </p-menubar>
    <p-menubar *ngIf="authService.isLoggedIn()" [model]="itemsUser">
      <ng-template pTemplate="start">
        <a routerLink="home"><h2>Travelnest</h2></a>
      </ng-template>
    </p-menubar>
  </div>
  <p-dialog [(visible)]="displayLoginDialog" [modal]="true" header="Login" [dismissableMask]="true">
    <app-login (closeDialog)="displayLoginDialog = false"></app-login>
  </p-dialog>
</div>

