<div id="home-container">
  <div id="search-wrapper">
    <app-search [currentComponent]="componentName"></app-search>
  </div>
  <div class="card gallery">
    <p-galleria [value]="imageQuotes" [autoPlay]="true" [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '720px'}" [showThumbnails]="false" [transitionInterval]="10000">
      <ng-template pTemplate="item" let-item let-i="index">
        <div class="image-container">
          <img [src]="item.image" style="width: 100%;" />
          <div class="quote-overlay">{{ item.quote }}</div>
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
<div class="alert">
  <p-toast [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'4000ms'"></p-toast>
</div>
