#home-container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin: 20px 0;
}

#search-wrapper {
  margin: 0 20px;
}

#results {
  width: 100%;
  margin-top: 20px;
}
