<div class="flights-wrapper">
  <div id="search-wrapper">
    <app-search></app-search>
  </div>
  <p-card id="table-wrapper" *ngIf="result.length != 0">
    <p-table [value]="result" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [rows]="10"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[10, 25, 50]"
             [paginator]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
      <ng-template pTemplate="body" let-flight>
        <div class="grid">
          <div class="col-1 text-center">
            <span>{{flight.itineraries[0].segments[0].carrierCode}}</span>
          </div>
          <div class="col-1 segment">
            <div class="upper">
              <span>{{ flight.itineraries[0].segments[0].departure.at.substr(11, 5) }}</span>
            </div>
            <div class="lower">
              <span>{{flight.itineraries[0].segments[0].departure.iataCode}}</span>
            </div>
          </div>
          <div class="col-1 segment">
            <span><i class="pi pi-minus" ></i></span>
          </div>
          <div class="col-1 segment">
            <div class="upper">
              <span>{{ flight.itineraries[0].segments[0].arrival.at.substr(11, 5) }}</span>
            </div>
            <div class="lower">
              <span>{{flight.itineraries[0].segments[0].arrival.iataCode}}</span>
            </div>
          </div>
          <div class="col-1 text-center">
            <span>{{ flight.price.grandTotal + ' ' + flight.price.currency }}</span>
          </div>
          <div class="col-1">
            <button type="button" pButton pRipple label="select" icon="pi pi-plus"></button>
          </div>
        </div>
      </ng-template>
    </p-table>
  </p-card>
</div>
