
#search-container {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.8) 0 7px 29px 0;
}

.search-button {
  margin-right: 10px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  margin-bottom: 25px;
}

 #nonStop {
   margin-top: 10px;
 }
