.search-button {
  margin-right: 10px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep input {
  width: 100%;
  min-width: 90px;
}

.space {
  margin-bottom: 25px;
}

#nonStop {
  margin-top: 10px;
}
